{
    "presets": [
        [

            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react",
        [
            "react-app",
            {
                "absoluteRuntime": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
