# Committing dist to allow installation from github commits and avoid tsconfig paths
# resolution issues when using this package as a library
# dist/
build/
node_modules/
.eslintcache
.husky/_/
.nyc_output/
tests-legacy/node_modules/
tests-legacy/.screenshots/*
tests-legacy/cucumber/screenshots/
tests/cypress/videos/*
!tests/cypress/videos/.gitignore
tests/cypress/screenshots/*
!tests/cypress/screenshots/.gitignore
tests/cypress/downloads/*
!tests/cypress/downloads/.gitignore
.idea/
.DS_Store
src/react-app-env.d.ts
