@mixin inverse-highlight {
    color: $white;
    border-color: $white;
}

@mixin inverse {
    color: $exagray_darker;
    border-color: $exagray_darker;
    background-color: $wave-background;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $exagray-darker;
    }
}

.inverse {
    @include inverse;
}

/*
 * The Dark Theme
 */
.bgm-dark {
    @include inverse;

    .alert,
    select,
    textarea,
    input {
        @include inverse;
        border-width: 1px;
    }

    .active,
    .close {
        color: $white;
    }

    .fg-line .form-control:not(:disabled) {
        color: $gray-lighter;
    }

    .btn-custom,
    .btn-outline {
        @include inverse;
        background: transparent;

        &:hover,
        &.active {
            @include inverse-highlight;
        }
    }

    /* Lists */
    .listview {
        &:not(.lv-message) {
            .lv-title {
                color: $white;
            }
        }

        .card {
            background: none;
        }
    }

    .modal[data-modal-color="dark"] .modal-backdrop {
        background: $wave-background;
        opacity: 0.7;
    }

    .popover {
        .popover-title,
        .popover-content {
            color: $gray-dark;
        }
    }

    .fg-line .form-control:disabled {
        color: $gray;
    }
}

@mixin darkScrollbar($width) {
    &::-webkit-scrollbar {
        width: #{$width}px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 #{calc($width/2)}px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 #{$width}px $gray-light;
    }
}
