/*
 * Exabyte background colors
 */
.bgm-exablue {
    color: rgba($exablue, 0.82);
    background-color: rgba($exablue_lighter, 0.82) !important;
}

.bgm-exagray {
    color: rgba($exagray_darker, 0.6);
    background-color: rgba($exagray_darker, 0.4) !important;
}

.bgm-exagray-lighter {
    background-color: $exagray !important;
}

.bgm-success {
    color: rgba($exagray_darker, 0.6);
    background-color: rgba($success_color, 1) !important;
}

.bgm-bluegray {
    color: rgba($white, 0.6);
    background-color: rgba($bluegray, 1) !important;
}

.bgm-warning {
    color: rgba($black, 1);
    background-color: rgba($amber, 0.2) !important;
}

.bgm-white {
    background-color: $white;

    /* Typography */
    h1, h2, h3, h4, h5, h6, p {
        color: $gray-dark;
    }

    color: $gray;

    a {
        color: $gray;
    }

    &.modal {
        .modal-content {
            box-shadow: none;
        }
    }

    .modal[data-modal-color="white"] .modal-backdrop {
        background: #fff;
        opacity: 1;
    }

    pre {
        background: $white;
    }

    /* Overrite some _App.scss styles */
    // PRICING TABLE Which has no white header styles
    .pt-inner {
        .pti-header {
            color: $gray-dark;

            > h2, small {
                color: $gray-dark;
            }

            .ptih-title {
                // background: none;
            }
        }

        &.disabled {
            opacity: .5;
        }
    }
}

/* Dark Theme */
@mixin inverse-highlight {
    color: $white;
    border-color: $white;
}

@mixin inverse {
    color: $exagray_darker;
    border-color: $exagray_darker;
    background-color: $wave-background;
    p, h1, h2, h3, h4, h5, h6 {
        color: $exagray-darker;
    }
}

.inverse {
    @include inverse;
}

/*
 * The Dark Theme
 */
.bgm-dark {
    @include inverse;

    .alert, select, textarea, input {
        @include inverse;
        border-width: 1px;
    }

    .active, .close {
        color: $white;
    }

    .fg-line .form-control:not(:disabled) {
        color: $gray-lighter;
    }

    .btn-custom, .btn-outline {
        @include inverse;
        background: transparent;

        &:hover, &.active {
            @include inverse-highlight;
        }
    }

    /* Lists */
    .listview {
        &:not(.lv-message) {
            .lv-title {
                color: $white;
            }
        }

        .card {
            background: none;
        }
    }

    .modal[data-modal-color="dark"] .modal-backdrop {
        background: $wave-background;
        opacity: 0.7;
    }

    .popover {
        .popover-title, .popover-content {
            color: $gray-dark;
        }
    }

    .fg-line .form-control:disabled {
        color: $gray;
    }
}

/* Badges and buttons */
@mixin remove {
    &:hover {
        background-color: $danger_color;
    }
}

/*
 * Solarized theme for the Terminal Window
 */
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
    background-color: $rebase03;
    color: $rebase0;
    * {
        color: $rebase0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $rebase1;
        border-color: $rebase0;
    }
    a, a:active, a:visited {
        color: $rebase1;
    }
}

@mixin accentize($accent) {
    a, a:active, a:visited, code.url {
        color: $accent;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $accent
    }
}

@mixin darkScrollbar($width) {
    &::-webkit-scrollbar {
        width: #{$width}px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 #{$width/2}px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 #{$width}px $gray-light;
    }
}
