/*
 * s-alert overrides
 */

.s-alert-box {
    padding-right: 50px !important;
    z-index: $above-modal-z-index;
    font-family: inherit;
    max-width: 40%;
    &.alert {
        margin-bottom: 0;
    }
    i.fa {
        // remove icon
        display: none;
    }

}

.s-alert-box-top-right {
    position: fixed;
    top: 100px;
}
