/**
 * SCSS Sources for the CSS content below
 */

/**
$header-height: 54px;
$footer-height: 54px;
$crystal-lattice-accordion-height-with-borders: 56px;
.three-renderer {
  height: calc(100vh - $footer-height - $header-height);
}

#basis-xyz {
  $crystal-basis-accordion-header-with-button-group: 116px;
  height: calc(
          100vh - $footer-height - $header-height -
          $crystal-lattice-accordion-height-with-borders - $crystal-basis-accordion-header-with-button-group
  );
  overflow-y: hidden;
  .cm-editor {
    // Assuming that `em` will pick up the font size of the MUI theme
    font-size: 0.9em;
    max-height: calc(
            100vh - $footer-height - $header-height -
            $crystal-lattice-accordion-height-with-borders - $crystal-basis-accordion-header-with-button-group
    );
    resize: vertical;
    overflow-y: auto;


    .cm-scroller {
      min-height: calc(
              100vh - $footer-height - $header-height -
              $crystal-lattice-accordion-height-with-borders - $crystal-basis-accordion-header-with-button-group
      );
    }
  }
}
**/

.three-renderer {
    height: calc(100vh - 108px);
}

#basis-xyz {
    height: calc(100vh - 280px);
    overflow-y: hidden;
}

#basis-xyz .cm-editor {
    font-size: 0.9em;
    max-height: calc(100vh - 280px);
    resize: vertical;
    overflow-y: auto;
}

#basis-xyz .cm-editor .cm-scroller {
    min-height: calc(100vh - 280px);
}
